
__pycache__/__cli_dependencies_install__.cpython-312.pyc
__pycache__/__get_os_package_manager__.cpython-312.pyc
__pycache__/__pip_install__.cpython-312.pyc
linux_distros/__pycache__/__arch__.cpython-312.pyc
linux_distros/__pycache__/__debian__.cpython-312.pyc
linux_distros/__pycache__/__fedora__.cpython-312.pyc
linux_distros/__pycache__/__ubuntu__.cpython-312.pyc
