#!/usr/bin/make -f

%:
    dh $@

override_dh_auto_install:
    dh_auto_install
    python3 -m pip install --no-deps --prefix=$(CURDIR)/debian/vcandy/usr requests pyinstaller
    pyinstaller --onefile app.py --distpath=$(CURDIR)/debian/vcandy/usr/bin --name=vcandy
