#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	python3 -m pip install --no-deps --prefix=$(CURDIR)/debian/vcandy/usr requests pyinstaller
	rm $(CURDIR)/debian/vcandy/usr/lib/python3.11/EXTERNALLY-MANAGED
	pyinstaller --onefile $(CURDIR)/app.py --distpath=$(CURDIR)/debian/vcandy/usr/bin --name=vcandy