name: Build and Deploy RPM, DEB

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build-rpm:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up dependencies
        run: |
          sudo apt install -y python3-pip rpm

      - name: Set up RPM directories
        run: |
          mkdir -p ~/rpmbuild/SPECS
          mkdir -p ~/rpmbuild/SOURCES

      - name: Install Python dependencies
        run: pip3 install --no-cache-dir requests pyinstaller setuptools

      - name: Build the Python project with PyInstaller
        run: pyinstaller --onefile /home/runner/work/Virtual-CANDY/Virtual-CANDY/app.py --name=vcandy

      - name: Create RPM spec file
        run: |
          cat <<EOF > ~/rpmbuild/SPECS/vcandy.spec
          Summary: A python CLI application that installs automatic container and virtualization tools for many Linux systems
          Name: vcandy
          Version: 2.0
          Release: 1%{?dist}
          License: MIT
          URL: https://github.com/Hakanbaban53/Virtual-CANDY
          Source0: %{name}-%{version}.tar.gz

          %description
          vcandy is a command-line tool that simplifies the installation process of container and virtualization tools on Linux systems.

          %prep
          %setup -q

          %install
          rm -rf %{buildroot}
          mkdir -p %{buildroot}/%{_bindir}
          cp %{name} %{buildroot}/%{_bindir}

          %clean
          rm -rf %{buildroot}

          %files
          %{_bindir}/%{name}

          %changelog
          * Thu Mar 19 2024 Hakan İSMAİL <hakanismail53@gmail.com> - 2.0
          - Initial release
          EOF

      - name: Create binary folder
        run: mkdir vcandy-2.0

      - name: Move binary to binary folder
        run: mv /home/runner/work/Virtual-CANDY/Virtual-CANDY/dist/vcandy vcandy-2.0

      - name: Create .tar.gz file and move to SOURCES folder
        run: |
          tar --create --file vcandy-2.0.tar.gz vcandy-2.0
          mv vcandy-2.0.tar.gz ~/rpmbuild/SOURCES

      - name: Build RPM package
        run: rpmbuild -bb ~/rpmbuild/SPECS/vcandy.spec

      - name: Upload RPM package as artifact
        uses: actions/upload-artifact@v3
        with:
          name: vcandy-rpm
          path: ~/rpmbuild/RPMS/**/*.rpm

  build-deb:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up dependencies
        run: |
          sudo apt install -y python3-pip debhelper python3-venv

      - name: Set up DEB directories
        run: |
          mkdir -p ~/vcandy/bin
          mkdir -p ~/vcandy/DEBIAN

      - name: Install Python dependencies
        run: pip3 install --no-cache-dir requests pyinstaller setuptools

      - name: Build the Python project with PyInstaller
        run: pyinstaller --onefile /home/runner/work/Virtual-CANDY/Virtual-CANDY/app.py --name=vcandy

      - name: Create DEB control file
        run: |
          cat <<EOF > ~/vcandy/DEBIAN/control
          Package: vcandy
          Version: 2.0
          Architecture: all
          Section: python
          Priority: optional
          Maintainer: Hakan İSMAİL <hakanismail53@gmail.com>
          Homepage: https://github.com/Hakanbaban53/Virtual-CANDY
          Description: A Python CLI application that installs automatic container and virtualization tools for many Linux systems.
          EOF

      - name: Move the binary file to the build directory
        run: mv /home/runner/work/Virtual-CANDY/Virtual-CANDY/dist/vcandy ~/vcandy/bin

      - name: Build DEB package
        run: dpkg-deb --root-owner-group --build ~/vcandy

      - name: Upload DEB package as artifact
        uses: actions/upload-artifact@v3
        with:
          name: vcandy-deb
          path: ~/vcandy.deb

  create-release:
    runs-on: ubuntu-latest
    needs: [build-rpm, build-deb]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Read info
        id: tags
        shell: bash
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}
          echo ::set-output name=TAG::${GITHUB_REF/refs\/tags\//}

      - name: Download RPM Artifact
        uses: actions/download-artifact@v3
        with:
          name: vcandy-rpm

      - name: Download DEB Artifact
        uses: actions/download-artifact@v3
        with:
          name: vcandy-deb

      - name: Create Release
        id: create_release
        uses: actions/create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.VCGITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tags.outputs.TAG }}
          release_name: Release ${{ steps.tags.outputs.TAG }}
          body: |
            Release ${{ steps.tags.outputs.TAG }}
            Debian and RPM packages are attached to this release.
          draft: false
          prerelease: false

      - name: Upload RPM to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.VCGITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /home/runner/work/Virtual-CANDY/Virtual-CANDY/*.rpm
          asset_name: vcandy-${{ steps.tags.outputs.VERSION }}.rpm
          asset_content_type: application/x-rpm

      - name: Upload DEB to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.VCGITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /home/runner/work/Virtual-CANDY/Virtual-CANDY/*.deb
          asset_name: vcandy-${{ steps.tags.outputs.VERSION }}.deb
          asset_content_type: application/x-debian-package
